.row
  .twelve.columns.header
    %h1 Welcome to FilmBOX service for Sony Bravia TV
    %p= "logged in as #{current_user}" 
  .message  
    Your Sony account and your SPI account have been linked together successfully.
