h1
  font-size: 24px

#header
  background: #000
  height: 100px
  width: 100%

  .logo
    margin: 0 auto
    padding-top: 15px
    width: 178px

#main
  margin: 40px 0 

  .header
    border-bottom: 1px solid #999

  .forms
    margin-top: 40px

.content
  margin-top: 40px

.message
  margin-bottom: 35px

  img
    float: left
    margin-right: 15px
